.app {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.todo-container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.todo-container-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
}

.todo-card {
  width: 300px;
  margin: 8px;
}

body {
  background-color: #FF8C00;
}

.completed .title {
  text-decoration: line-through;
}

